* {
    font-family: 'Mulish', sans-serif;
    margin: 0rem 1rem;
}

/* shared style */

:root {
    --text-color: #5A5A5D;
}

.section-title {
    padding: 1rem;
    color: #131318;
    font-size: 2.5rem;
}

.section-dis {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

/* header section style */
.logo {
    display: flex;
}

.logo h2 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

.travels {
    color: #FF5400;
}

.menu-item ul {
    display: flex;
}

.menu-item ul li a {
    text-decoration: none;
    list-style: none;
    color: #424247;
    text-align: center;
    font-size: 1.125rem;
    padding: .25rem;
    margin-right: 0rem;
}

.menu-item ul li {
    list-style: none;
}

nav {

    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.menu-item .home {
    color: #FF5400;
}

.menu-item .home:hover {
    color: black;
}

.menu-item .nav-title:hover {
    color: red;
}

/* banner section style  */
.banner {
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    margin-top: 2rem;
}


.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    padding: 3rem;
}

.banner-dis {
    color: #FFF;
    padding: .5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.trip-place {
    border-radius: .5rem;
    background: rgba(255, 255, 255, 0.30);
    width: 70%;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
}

.banner input {
    padding: 1rem;
    border-radius: 8px;
    background: #FFF;
    margin: 1.25rem;
    align-items: center;

}

.primary-btn {
    margin-top: 1rem;
    font-size: 1rem;
    color: #FFF;
    border: none;
    text-align: center;
    width: 10rem;
    height: 3rem;
    border-radius: 8px;
    background: #FF5400;
}

.search {
    margin-left: 0;
    width: 1rem;
    color: white;
}

/* main section style */

/* popular-tours section */
.popular-tours {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-bottom: 2rem;
}

.popular-tours-dis {
    color: #5A5A5D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
}

.mounten-pic {
    width: auto;
    padding: 0;
}

.dis-center {
    text-align: center;
    width: 70%;
    margin: 1rem auto
}

/* why choose us section */
.choose-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.container-item {
    padding: 2rem;
    margin: 2rem;
}

.hotel {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.setvice {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.price {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.choose-title {
    color: #131318;
    margin: 1rem 1rem;
    font-family: Mulish;
    font-size: 24px;
}

/* chose your destination sectior */
.destination {
    margin: 3rem 0rem;
}

.fast,
.second,
.third {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

}

/* latter section */
.latter {
    border: 1px solid #FF5400;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: 2rem;
    text-align: center;
}

.latter input {
    margin-top: 2rem;
    width: 20rem;
    padding: 1rem;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: none;
}

.subscribe-btn {
    margin-top: 2rem;
    width: 22rem;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    border: none;
    color: #FFF;
    background-color: #FF5400;
    text-align: center;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.latter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.save-up {
    width: 20.25rem;
    height: 7.5rem;
    position: absolute;
    border-radius: 1rem;
    background: #FF5400;
    transform: translateX(21rem) translateY(-11rem) rotate(-19deg);
}

.save-up h4 {
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    padding: .5rem;
}

.save-up h2 {
    color: #FFF;
    text-align: center;
    font-size: 2rem;
}

/* footer section style */
.footer-logo {
    justify-content: center;
}

.footer-dis {
    width: 60%;
    margin: 1rem auto;
    color: #5A5A5D;
    text-align: center;
}
.social{
    color: black;
    text-align: center;
    margin:2rem;
}
footer hr{
    width: 80%;
    margin: 2rem auto;
}
.copy{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 8rem;
    color: #131318;
}

/* responsive section for mobile */
@media screen and (max-width:600px) {
    * {
        margin: 0rem .5rem;

    }

    nav,
    .fast,
    .second,
    .third,
    .menu-item ul,
    .popular-tours,
    .trip-place,
    .choose-container,
    .destination,
    .latter-container {
        display: flex;
        flex-direction: column;
    }

    .banner-title {
        padding: 1rem;
        margin-top: 1rem;
        margin-bottom: 0px;
        font-size: 3rem;
    }

    .banner-dis {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 0px;
        font-size: .75rem;

    }

    .destination img,.footer-dis {
        width: 100%;
        text-align: center;
    }

    .mounten-pic img {
        width: 100%;

    }

    .trip-place {

        width: 70%;
        padding: 0px;
    }

    .trip-place input {
        margin-top: 4px;
        padding: .5rem;

    }

    .offer img {
        width: 100%;
    }

    .save-up {
        width: 16.25rem;
        height: 7.5rem;
        position: absolute;
        border-radius: 1rem;
        background: #FF5400;
        transform: translateX(13.25rem) translateY(-10rem) rotate(-19deg);
    }
}